<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FastReport.Compat" version="2020.3.7" targetFramework="net472" />
  <package id="FastReport.OpenSource" version="2020.3.17" targetFramework="net472" />
  <package id="FontAwesomeIcons" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.55" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.Windows" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Schedule.Base" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Schedule.Windows" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.2.0.45" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="18.2.0.44" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
</packages>